---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Pravna obavijest - Generator lozinki'>
  <main class='legal-container'>
    <h1>Pravna obavijest</h1>

    <section>
      <h2>1. Pravne informacije</h2>
      <p>Ova web stranica se upravlja na osobnoj osnovi.</p>
      <p>Direktor izdanja i tehnički direktor: Nguyen Jean</p>
    </section>

    <section>
      <h2>2. Hosting</h2>
      <p>Ovu web stranicu hostira:</p>
      <p>
        Cloudflare, Inc.<br>
        101 Townsend St, San Francisco, CA 94107<br>
        USA
      </p>
    </section>

    <section>
      <h2>3. Intelektualno vlasništvo</h2>
      <p>
        Sav sadržaj na ovoj stranici dostupan je pod MIT licencom.
      </p>
      <p>Izvorni kod je slobodno dostupan na GitHubu: <a href="https://github.com/jibenight/Get-password" target="_blank">https://github.com/jibenight/Get-password</a></p>
      <p>Slobodni ste:</p>
      <ul>
        <li>Koristiti generator lozinki</li>
        <li>Kopirati i modificirati izvorni kod</li>
        <li>Koristiti ga u komercijalne svrhe</li>
      </ul>
    </section>

    <section>
      <h2>4. Zaštita osobnih podataka</h2>
      <p>Stranica koristi kolačiće isključivo u reklamne svrhe. Ovi kolačići pomažu u prikazivanju personaliziranih oglasa na temelju vaše aktivnosti pregledavanja i preferencija.</p>
    </section>

    <section>
      <h2>5. Ograničenje odgovornosti</h2>
      <p>
        Generirane lozinke služe samo u indikativne svrhe. Iako nastojimo generirati sigurne lozinke, ne možemo jamčiti njihovu apsolutnu razinu sigurnosti.
      </p>
      <p>
        Korisnici su isključivo odgovorni za korištenje generiranih lozinki.
      </p>
    </section>

    <section>
      <h2>6. Kontakt</h2>
      <p>Ako imate pitanja u vezi s ovom web stranicom, možete:</p>
      <ul>
        <li>Poslati e-mail na: contact@get-password.com</li>
      </ul>
    </section>

    <section>
      <h2>7. Mjerodavno pravo</h2>
      <p>Ova pravna obavijest podliježe francuskom pravu.</p>
      <p>U slučaju spora, nadležni su isključivo francuski sudovi.</p>
    </section>

    <div class='back-link'>
      <a href='/hr/'>Natrag na početnu stranicu</a>
    </div>
  </main>
</Layout>
