---
import Layout from '../../layouts/Layout.astro';
import '../../styles/index.css';
import { Image } from 'astro:assets';
import localImage from '../../assets/images/woman-computer.webp';
import PasswordGenerator from '../../components/PasswordGenerator.astro';
import MemorablePasswordGenerator from '../../components/MemorablePasswordGenerator.astro';
import { Content as PasswordInfo } from '../../contents/1_secure_passwords.md';
import { Content as MemorizationTips } from '../../contents/2_memorization_tips.md';
import { Content as PasswordManagerGuide } from '../../contents/3_password_manager_guide.md';
---

<Layout title='Générateur de Mots de Passe'>
  <main>
    <div class='generators-container'>
      <div id='classicGenerator' class='generator-section'>
        <PasswordGenerator client:load />
      </div>
      <div id='memorableGenerator' class='generator-section active'>
        <MemorablePasswordGenerator client:load />
      </div>
    </div>
    <div class='hero-section'>
      <div class='main-title'>
        <h1>
          Créez des phrases inoubliables, simples à retenir et ultra-sécurisées
          !
        </h1>
        <h4>
          Générez en quelques clics des mots de passe fluides et sécurisés,
          basés sur de vraies phrases faciles à mémoriser.
        </h4>
      </div>
      <Image src={localImage} alt='jeune femme blonde devant un ordinateur.' />
    </div>

    <PasswordInfo />
    <MemorizationTips />
    <PasswordManagerGuide />
  </main>
</Layout>

<script>
  // Gestion du toggle des générateurs
  function handleToggle(event) {
    const button = event.currentTarget;
    const type = button.dataset.type;

    // Sélectionner tous les éléments nécessaires
    const buttons = document.querySelectorAll('.toggle-button');
    const classicSection = document.getElementById('classicGenerator');
    const memorableSection = document.getElementById('memorableGenerator');

    // Mettre à jour les boutons
    buttons.forEach(btn => btn.classList.remove('active'));
    button.classList.add('active');

    // Mettre à jour les sections
    if (type === 'classic') {
      classicSection.classList.add('active');
      memorableSection.classList.remove('active');
    } else {
      memorableSection.classList.add('active');
      classicSection.classList.remove('active');
    }
  }

  // Fonction d'initialisation
  function init() {
    // Initialisation des boutons de toggle
    const buttons = document.querySelectorAll('.toggle-button');
    buttons.forEach(button => {
      button.addEventListener('click', handleToggle);
    });
  }

  // Exécuter l'initialisation au chargement de la page
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', init);
  } else {
    init();
  }

  // Réinitialiser lors de la navigation Astro
  document.addEventListener('astro:page-load', init);
  document.addEventListener('astro:after-swap', init);
</script>
