---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Právne upozornenie - Generátor hesiel'>
  <main class='legal-container'>
    <h1>Právne upozornenie</h1>

    <section>
      <h2>1. Právne informácie</h2>
      <p>Táto webová stránka je spravovaná na osobnom základe.</p>
      <p>Riaditeľ publikácie a technický riaditeľ: Nguyen Jean</p>
    </section>

    <section>
      <h2>2. Hosting</h2>
      <p>Táto webová stránka je hostovaná spoločnosťou:</p>
      <p>
        Cloudflare, Inc.<br>
        101 Townsend St, San Francisco, CA 94107<br>
        USA
      </p>
    </section>

    <section>
      <h2>3. Duševné vlastníctvo</h2>
      <p>
        Všetok obsah na tejto stránke je dostupný pod licenciou MIT.
      </p>
      <p>Zdrojový kód je voľne dostupný na GitHub: <a href="https://github.com/jibenight/Get-password" target="_blank">https://github.com/jibenight/Get-password</a></p>
      <p>Máte slobodu:</p>
      <ul>
        <li>Používať generátor hesiel</li>
        <li>Kopírovať a upravovať zdrojový kód</li>
        <li>Používať ho na komerčné účely</li>
      </ul>
    </section>

    <section>
      <h2>4. Ochrana osobných údajov</h2>
      <p>Stránka používa súbory cookie výlučne na reklamné účely. Tieto súbory cookie pomáhajú zobrazovať personalizované reklamy na základe vašej aktivity prehliadania a preferencií.</p>
    </section>

    <section>
      <h2>5. Obmedzenie zodpovednosti</h2>
      <p>
        Vygenerované heslá slúžia len na orientačné účely. Hoci sa snažíme generovať bezpečné heslá, nemôžeme zaručiť ich absolútnu úroveň bezpečnosti.
      </p>
      <p>
        Používatelia sú výlučne zodpovední za použitie vygenerovaných hesiel.
      </p>
    </section>

    <section>
      <h2>6. Kontakt</h2>
      <p>Ak máte akékoľvek otázky týkajúce sa tejto webovej stránky, môžete:</p>
      <ul>
        <li>Poslať e-mail na: contact@get-password.com</li>
      </ul>
    </section>

    <section>
      <h2>7. Rozhodné právo</h2>
      <p>Toto právne upozornenie podlieha francúzskemu právu.</p>
      <p>V prípade sporu budú príslušné výlučne francúzske súdy.</p>
    </section>

    <div class='back-link'>
      <a href='/sk/'>Späť na domovskú stránku</a>
    </div>
  </main>
</Layout>
