main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
}
.main-title {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

img {
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  object-fit: cover;
}

/* .main-title h1 {
    margin-bottom: 1.5rem;
    line-height: 1.2;
    font-size: 2.5rem;
  }

  .main-title h3 {
    margin-bottom: 1rem;
    line-height: 1.4;
  } */

.generators-container {
  width: 100%;
  max-width: 800px;
}

.info-container {
  width: 100%;
  max-width: 800px;
}

.generator-section {
  display: none;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.generator-section.active {
  display: block;
  opacity: 1;
}

.article-separator {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  margin: 2rem 0;
}

.dark-mode .article-separator {
  border-bottom-color: #444;
}
