---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Правна информация - Генератор на пароли'>
  <main class='legal-container'>
    <h1>Правна информация</h1>

    <section>
      <h2>1. Правни данни</h2>
      <p>Този уебсайт се управлява на лична основа.</p>
      <p>Директор на публикацията и технически директор: Nguyen Jean</p>
    </section>

    <section>
      <h2>2. Хостинг</h2>
      <p>Този уебсайт се хоства от:</p>
      <p>
        Cloudflare, Inc.<br>
        101 Townsend St, San Francisco, CA 94107<br>
        USA
      </p>
    </section>

    <section>
      <h2>3. Интелектуална собственост</h2>
      <p>
        Цялото съдържание на този сайт е достъпно под лиценз MIT.
      </p>
      <p>Изходният код е свободно достъпен в GitHub: <a href="https://github.com/jibenight/Get-password" target="_blank">https://github.com/jibenight/Get-password</a></p>
      <p>Вие сте свободни да:</p>
      <ul>
        <li>Използвате генератора на пароли</li>
        <li>Копирате и модифицирате изходния код</li>
        <li>Използвате го за търговски цели</li>
      </ul>
    </section>

    <section>
      <h2>4. Защита на личните данни</h2>
      <p>Сайтът използва бисквитки единствено за рекламни цели. Тези бисквитки помагат за показването на персонализирани реклами въз основа на вашата активност на сърфиране и предпочитания.</p>
    </section>

    <section>
      <h2>5. Ограничение на отговорността</h2>
      <p>
        Генерираните пароли са само с ориентировъчна цел. Въпреки че се стремим да генерираме сигурни пароли, не можем да гарантираме абсолютното им ниво на сигурност.
      </p>
      <p>
        Потребителите носят пълна отговорност за използването на генерираните пароли.
      </p>
    </section>

    <section>
      <h2>6. Контакт</h2>
      <p>Ако имате въпроси относно този уебсайт, можете да:</p>
      <ul>
        <li>Изпратите имейл на: contact@get-password.com</li>
      </ul>
    </section>

    <section>
      <h2>7. Приложимо право</h2>
      <p>Тази правна информация е предмет на френското законодателство.</p>
      <p>В случай на спор само френските съдилища ще имат юрисдикция.</p>
    </section>

    <div class='back-link'>
      <a href='/bg/'>Обратно към началната страница</a>
    </div>
  </main>
</Layout>
