<div class="ad-container">
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-3402470307945870"
       data-ad-slot="3568179376"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script is:inline>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<style>
  .ad-container {
    width: 100%;
    max-width: 1024px;
  }
</style>
