---
import { Image } from 'astro:assets';
import logo from '../assets/images/logo.svg';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
  <div class='footer-content'>
    <div class='footer-section'>
      <h3>{t('footer.title')}</h3>
      <p>{t('footer.description')}</p>
    </div>

    <div class='footer-section'>
      <h3>{t('footer.links')}</h3>
      <ul>
        <li><a href='/'>{t('footer.home')}</a></li>
        <li><a href={t('footer.href')}>{t('footer.legal')}</a></li>
      </ul>
    </div>

    <div class='footer-section'>
      <h3>{t('footer.security')}</h3>
      <ul>
        <li>{t('footer.local_generation')}</li>
        <li>{t('footer.no_storage')}</li>
        <li>
          <a href='https://github.com/jibenight/Get-password'
            >{t('footer.open_source')}</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class='footer-bottom'>
    <Image src={logo} alt='logo gray locker' />
    <p>&copy; 2025 Get-password. {t('footer.rights')}</p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-bg-navbar);
    color: var(--color-text-primary);
    padding: 2rem 1rem;
    border-radius: 10px;
    margin-top: 2rem;
  }

  .footer-content {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .footer-section {
    flex: 1;
    text-align: center;
  }

  .footer-section h3 {
    color: var(--color-accent);
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  .footer-section p,
  .footer-section ul {
    color: var(--color-text-secondary);
    font-size: 0.9rem;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section ul li {
    margin-bottom: 0.5rem;
  }

  .footer-section ul li a {
    color: var(--color-text-primary);
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-section ul li a:hover {
    color: var(--color-accent);
  }

  .footer-bottom {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.8rem;
    color: var(--color-text-secondary);
  }

  .footer-bottom img {
    width: 60px;
    height: 60px;
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }

    .footer-section {
      margin-bottom: 1rem;
    }
  }
</style>
