---
const currentYear = new Date().getFullYear();
import logo from '../assets/images/logo.webp';
---

<footer>
  <div class='footer-content'>
    <div class='footer-section'>
      <h3>Get-password</h3>
      <p>Générateur de mots de passe sécurisés et mémorisables</p>
    </div>

    <div class='footer-section'>
      <h3>Liens Utiles</h3>
      <ul>
        <li><a href='/'>Accueil</a></li>
        <li><a href='/mentions-legales'>Mentions Légales</a></li>
      </ul>
    </div>

    <div class='footer-section'>
      <h3>Sécurité</h3>
      <ul>
        <li>Génération locale</li>
        <li>Aucune donnée stockée</li>
        <li>Open Source</li>
      </ul>
    </div>
  </div>

  <div class='footer-bottom'>
    <img src={logo.src} alt='' width='80px' />
    <p>&copy; {currentYear} Get-password. Tous droits réservés.</p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-bg-navbar);
    color: var(--color-text-primary);
    padding: 2rem 1rem;
    border-radius: 10px;
    margin-top: 2rem;
  }

  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .footer-section {
    flex: 1;
    text-align: center;
  }

  .footer-section h3 {
    color: var(--color-accent);
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  .footer-section p,
  .footer-section ul {
    color: var(--color-text-secondary);
    font-size: 0.9rem;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section ul li {
    margin-bottom: 0.5rem;
  }

  .footer-section ul li a {
    color: var(--color-text-primary);
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-section ul li a:hover {
    color: var(--color-accent);
  }

  .footer-bottom {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.8rem;
    color: var(--color-text-secondary);
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }

    .footer-section {
      margin-bottom: 1rem;
    }
  }
</style>
