---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Правно обавештење - Генератор лозинки'>
  <main class='legal-container'>
    <h1>Правно обавештење</h1>

    <section>
      <h2>1. Правне информације</h2>
      <p>Овим веб-сајтом се управља на личној основи.</p>
      <p>Директор издања и технички директор: Nguyen Jean</p>
    </section>

    <section>
      <h2>2. Хостинг</h2>
      <p>Овај веб-сајт хостује:</p>
      <p>
        Cloudflare, Inc.<br>
        101 Townsend St, San Francisco, CA 94107<br>
        USA
      </p>
    </section>

    <section>
      <h2>3. Интелектуална својина</h2>
      <p>
        Сав садржај на овом сајту је доступан под MIT лиценцом.
      </p>
      <p>Изворни код је слободно доступан на GitHub-у: <a href="https://github.com/jibenight/Get-password" target="_blank">https://github.com/jibenight/Get-password</a></p>
      <p>Слободни сте да:</p>
      <ul>
        <li>Користите генератор лозинки</li>
        <li>Копирате и мењате изворни код</li>
        <li>Користите га у комерцијалне сврхе</li>
      </ul>
    </section>

    <section>
      <h2>4. Заштита личних података</h2>
      <p>Сајт користи колачиће искључиво у рекламне сврхе. Ови колачићи помажу у приказивању персонализованих огласа на основу ваше активности прегледања и преференција.</p>
    </section>

    <section>
      <h2>5. Ограничење одговорности</h2>
      <p>
        Генерисане лозинке су само оријентационе природе. Иако се трудимо да генеришемо безбедне лозинке, не можемо гарантовати њихов апсолутни ниво безбедности.
      </p>
      <p>
        Корисници су искључиво одговорни за коришћење генерисаних лозинки.
      </p>
    </section>

    <section>
      <h2>6. Контакт</h2>
      <p>Ако имате питања у вези са овим веб-сајтом, можете:</p>
      <ul>
        <li>Послати е-пошту на: contact@get-password.com</li>
      </ul>
    </section>

    <section>
      <h2>7. Меродавно право</h2>
      <p>Ово правно обавештење подлеже француском праву.</p>
      <p>У случају спора, надлежни су искључиво француски судови.</p>
    </section>

    <div class='back-link'>
      <a href='/sr/'>Назад на почетну страницу</a>
    </div>
  </main>
</Layout>
