---
// Props pour recevoir les données Markdown
const { frontmatter } = Astro.props;
---

<article class='info-container'>
  <h2>{frontmatter.title}</h2>
  <p>{frontmatter.description}</p>
  {frontmatter.description2 && <p>{frontmatter.description2}</p>}
  <section>
    <slot />
  </section>
</article>

<style is:global>
  .info-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
    background-color: transparent;
    border-radius: 12px;
    line-height: 1.6;
  }

  .info-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .info-container h3 {
    margin-top: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--color-accent);
  }

  .info-container h4 {
    margin-top: 1.5rem;
  }

  .info-container p,
  .info-container ul,
  .info-container ol {
    margin-bottom: 1rem;
  }

  .info-container ul,
  .info-container ol {
    padding-left: 2rem;
  }

  .info-container li {
    margin-bottom: 0.5rem;
  }
</style>
